
{% extends 'base.html' %}
{% block content %} 
<div class="center margin padding-5 bg-love border">
    <h3>Here are some of our propositions.</h3>
    <p><strong>Please note:</strong> as there are three zones, that give all the gestures extra meaning, all the signs must not violate that rule.</p> 
    <p class="uppercase"> Try to keep them simple and intuitive, so it will be easier for everyone to learn.</p>
    <p><strong>Thank you for helping us putting that little effort to improve the world!</strong></p>
</div>
<div class="row">
    <ul class="collapsible popout " data-collapsible="accordion">
    {% for word in words %} 
    <!-- <div class="right margin-right no-bg tall">
    </div> -->
       <li>      
      <div class="collapsible-header ">
            <a href="{{url_for('edit_word', word_id=word._id)}}" class="waves-effect waves-light col s4 bg-blue btn">EDIT</a>
            <p class=" center uppercase col s8"><i class="left material-icons">expand_more</i> <strong> {{ word.eng }} 
            </strong></p>
            <!-- <a href="{{url_for('delete_word', word_id=word._id)}}" class="waves-effect right col s3 margin-right waves-light btn bg-love">DELETE</a> -->

      <!-- <a class="right margin-right bg-blue tall waves-effect waves-light btn center top-one">DELETE</a>          -->
      </div>
      <div class="collapsible-body center"><div class="bg-love">
        <p>Gesture: &emsp; {{ word.gesture }} </p>
        <p>Name: &emsp; {{ word.name }}</p></div>
        <p>More info: &emsp;<strong>{{ word.more_info }}</strong></p>
      </div>
    </li>
     {% endfor %}
  </ul>  
</div>
        

   
{% endblock %}